@media screen and (max-device-width: 480px) {
    #boxFilter {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        display: block;
    }

    #filterIssueBtn {
        align-items: center;
        margin-left: 85px;
        margin-top: 10px;
    }

    #boxCommits {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        display: block;
    }

    #filterCommitBtn {
        align-items: center;
        margin-left: 75px;
        margin-top: 10px;
    }
}