#fontLoad {
    font-size: 41px;
    font-weight: normal;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 640px) {
    #fontLoad {
      font-size: 30px;
    }
  }

  @media screen and (max-width: 411px) {
    #fontLoad {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 280px) {
    #fontLoad {
      font-size: 15px;
    }
  }
