#font {
    font-size: 45px;
    font-weight: normal;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 640px) {
    #font{
      font-size: 30px;
    }
  }

  @media screen and (max-width: 411px) {
    #font{
      font-size: 20px;
    }
  }

